body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.weather-app-wrapper {
  width: 600px;
  margin: 50px auto;
}
.weather-app {
  background-image: linear-gradient(to bottom, #35495e 0%, #63b7af 100%);
  margin-bottom: 0px;
  padding: 30px;
  border-radius: 10px;
}

.overview {
  margin: 30px auto;
  text-align: center;
}

#current-city {
  text-align: center;
}

.btn {
  margin: 0 auto;
  font-size: 20px;
  background-color: #63b7af;
  text-align: center;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

#search-location {
  position: relative;
  left: -25px;
}
.btn:hover {
  background-color: #63b7af;
  color: #35495e;
  opacity: 1;
}

#current-temperature,
#celsius-link,
#fahrenheit-link {
  display: inline;
  position: relative;
  bottom: -15px;
}

#celsius-link,
#fahrenheit-link {
  color: #35495e;
  text-decoration: none;
}
#units .active {
  color: #ffffff;
  font-size: 26px;
  transition: all 500ms ease-in-out;
}

#units .active:hover {
  text-decoration: none;
}

#temperature-description:first-letter {
  text-transform: capitalize;
}
.date h4 {
  font-size: 18px;
  text-align: right;
  line-height: 1.2;
}

.extra-data ul {
  margin: 0 auto;
  font-size: 20px;
  list-style: none;
  padding: 50px 20px;
}

#feels-like,
#wind,
#humidity,
#clouds {
  font-weight: bold;
}

.weather-forecast {
  margin-top: 10px;
  padding: 5px 5px;
  transition: all 200ms ease-in-out;
}

.weather-forecast h5 {
  font-size: 14px;
  height: 15px;
  line-height: 15px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.col-2 {
  text-align: center;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

.col-2:hover {
  background-color: rgba(53, 73, 93, 0.8);
  color: #63b7af;
  border-radius: 4px;
}

.footer {
  text-align: center;
  padding: 0px;
  color: #63b7af;
  font-weight: bold;
  margin-bottom: 50px;
}

.githublink {
  color: #35495e;
}
