body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

/*Container*/

.container {
  width: 600px;
  background-image: linear-gradient(to bottom, #35495e 0%, #63b7af 100%);
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 30px;
  border-radius: 10px;
}

.cointanerHeader,
.containerForecast,
.containerWeek {
  margin: 10 auto;
  padding: 20px;
  text-align: center;
}

/*Search form*/
#search-form {
  text-align: center;
}
.btn {
  margin: 0 auto;
  font-size: 20px;
  background-color: #63b7af;
  text-align: center;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #63b7af;
  color: #35495e;
  opacity: 1;
}

/*Forecast*/

#current-temperature {
  display: inline;
}

#celsius-link,
#fahrenheit-link {
  color: #35495e;
  text-decoration: none;
}
#units .active {
  color: #ffffff;
  font-size: 26px;
  transition: all 200ms ease-in-out;
}

#units .active:hover {
  text-decoration: none;
}

#current-date,
#greetingUser {
  text-align: right;
  font-size: 18px;
}

li {
  list-style: none;
  font-size: 16px;
}
#temperature-description:first-letter {
  text-transform: capitalize;
}

#feels-like,
#wind,
#humidity,
#clouds {
  font-weight: bold;
}

/*Week forecast*/
.col-2 {
  padding: 5px 5px;
  transition: all 200ms ease-in-out;
}
.col-2:hover {
  background-color: #35495e;
  color: #63b7af;
  border-radius: 4px;
}

/*Footer*/

.footer {
  text-align: center;
  padding: 0px;
  color: #63b7af;
}

.githublink {
  color: #35495e;
  font-weight: bold;
}
